<!--<app-counter [parentData]="counterLocalValue" (senddata)="printvalue($event)">
  
  <div>{{counterLocalValue}}</div></app-counter>
   <app-test></app-test>
<h2>pipe test</h2>
<p>
  {{ "Lana" | pipeTest: "lowercase" }}
</p>
<p>
  {{ "LANA" | pipeTest: "lowercase" }}
</p>
<p>
  {{ "Lana" | pipeTest: "uppercase" }}
</p>
<p>
  {{ "Lana" | pipeTest: "low" }}
</p>
-->
<app-account-info ></app-account-info>
<app-client-list></app-client-list>

<h5>NgIf</h5>
<div *appDirectiveIf =true >show when condition is true </div>

